body { background-color: #eee; margin: 24px; }
h1 { color: red; }
#game { background-color: #ffd; }
#levels { display: none }
#action-buttons {
  display: none;
  width: 480px;
  background-color: #ddf;
  text-align: center;
}
#action-buttons button { margin: 24px; }
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeout {
  animation-name: fadeout;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein {
  animation-name: fadein;
  animation-fill-mode: forwards;
}
